@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  --background-color: #3555A2;
  --button-color: #FF5C36;
  --text-color: #ffffff;
}

body {
  color: var(--text-color);
  background-color: var(--background-color);
  font-family: 'Muli', sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }

  .bg-background {
    background-color: var(--background-color);
  }

  .bg-button {
    background-color: var(--button-color);
  }

  .text-primary {
    color: var(--text-color);
  }


  .has-text-align-center {
    text-align: center;
  }

  .has-background {
    background-color: var(--background-color);
  }

  .has-button-color {
    background-color: var(--button-color);
  }
}
